{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <main action="/" class="container py-5 text-center">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-start">Symbol</th>
                    <th class="text-start">Company Name</th>
                    <th class="text-end">Shares</th>
                    <th class="text-end">Price</th>
                    <th class="text-end">TOTAL</th>
                </tr>
            </thead>
            <tbody>
                {% for row in database %}
                    <tr>
                        <td class="text-start">{{ row['symbol'] }}</td>
                        <td class="text-start">company_name</td>
                        <td class="text-end">{{ row['shares'] }}</td>
                        <td class="text-end">{{ row['price'] }}</td>
                        <td class="text-end">{{ row['shares'] * row['price'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                    <td class="border-0 text-end">{{ cash }}</td>
                </tr>

                    <tr>
                        <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
                        <td class="border-0 text-end">{{ total }}</td>
                    </tr>

            </tfoot>
        </table>
{% endblock %}
